.sidebar {
  background-color: #a1d6e2;
  flex: 1 1 30%;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.contacts {
  position: sticky;
  bottom: 0;

  a {
    margin: 6px;
  }
}
